* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
}

h1 {
    margin-top: 35px;
    text-align: center;
}

h2 {
    text-align: center;
    font-weight: 300;
    margin-top: 35px;
    margin-bottom: 35px;
}

.first_task_section, .first_five_task_section {
    margin: 35px auto;
    width: 700px;
    height: 600px;
    border: 1px solid #000;
    border-radius: 10px;
}

.first_five_task_section {
    height: 850px;
}

.phone_task_section {
    margin: 35px auto;
    width: 700px;
    min-height: 340px;
    border: 1px solid #000;
    border-radius: 10px;
}

.quiz_task_section {
    margin: 35px auto;
    width: 700px;
    min-height: 340px;
    border: 1px solid #000;
    border-radius: 10px;
}

.add_question_btn, .add_contact_btn {
    display: block;
    margin: 0 auto;
    width: 130px;
    height: 40px;
    background-color: #ffffff00;
    transition: .2s all;
    border-radius: 13px;
    padding: 0;
    margin-top: 30px;
    user-select: none;
    font-size: 18px;
    font-weight: 300;
    outline: none;
    border: 1px solid #000;
    transition: .2s all;
}

.add_question_btn:hover {
    cursor: pointer;
    border-radius: 20px;
    background-color: #000000;
    color: #fff;
}

.add_contact_btn:hover {
    cursor: pointer;
    border-radius: 20px;
    background-color: #000000;
    color: #fff;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 35px;
}

th, td {
    border: 1px solid #000000;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #ffffff;
}

#question-list {
    text-align: center;
    margin-top: 30px;
}

#question-list > div {
    font-weight: 300;
    margin-top: 5px;
}

.first_task_form, .first_five_task_form, .quiz_form, #contact-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.input_wrapper {
    position: relative;
    width: 500px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input_wrapper > label {
    width: 140px;
    font-size: 18px;
    font-weight: 300;
}

.input_wrapper > input, .input_wrapper > select {
    width: 250px;
    height: 40px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 300;
    outline: none;
    border: 1px solid #000;
    transition: .2s all;
    padding-left: 8px;
}

.input_wrapper > #first_task_submit1, #first_task_submit2 {
    display: block;
    margin: 0 auto;
    width: 130px;
    background-color: #ffffff00;
    transition: .2s all;
    border-radius: 13px;
    padding: 0;
    margin-top: 30px;
    user-select: none;
}

#first_task_submit1:hover, #first_task_submit2:hover {
    cursor: pointer;
    border-radius: 20px;
    background-color: #000000;
    color: #fff;
}

.error-message {
    position: absolute;
    top: 13px;
    right: -100px;
    font-weight: 100;
    width: 100px;
    font-size: 10px;
    color: red;
    padding: 0 10px;
    text-align: center;
}

#korespondencyjny {
    height: 20px;
}